/*Task 1*/
table, table * {
    border: 1px solid black;
    border-collapse: collapse;
    color: #230C0F;
}

tr:nth-child(1) {
    background-color: #028f8f;
}

tr:nth-child(2) {
    background-color: #f5f502;
}

tr:nth-child(1):hover {
    background-color: #fd7070;
}

tr:nth-child(2):hover {
    background-color: #0a0afd;
}

/*Task 2*/
.position, .transform {
    display: inline-block;
    margin: 50px;
}

.field {
    width: 200px;
    height: 200px;
    background-color: #DA291C;
}

.horizontal-line {
    width: calc(200px / 8 * 5);
    height: calc(200px / 16 * 3);

    background-color: white;
    border-radius: 5px;
}

.vertical-line {
    width: calc(200px / 16 * 3);
    height: calc(200px / 8 * 5);

    background-color: white;
    border-radius: 5px;
}

.position .field {
    position: relative;
}

.position .horizontal-line {
    position: absolute;

    top: calc(200px / 16 * 6.5);
    left: calc(200px / 8 * 1.5);

    /*Same effect*/
    /*left:0;*/
    /*right:0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
}

.position .vertical-line {
    position: absolute;

    top: calc(200px / 8 * 1.5);
    left: calc(200px / 16 * 6.5);

    /*Same effect*/
    /*left:0;*/
    /*right:0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
}

.transform .horizontal-line {
    transform: translate(calc(200px / 8 * 1.5), calc(200px / 16 * 6.5));
}

.transform .vertical-line {
    transform: translateX(calc(200px / 16 * 6.5));
}