.position, .transform {
    display: inline-block;
}

.field {
    margin-top: 50px;

    width: 200px;
    height: 200px;
    background-color: #DA291C;
}

.horizontal-line {
    width: calc(200px / 8 * 5);
    height: calc(200px / 16 * 3);

    background-color: white;
    border-radius: 5px;
}

.vertical-line {
    width: calc(200px / 16 * 3);
    height: calc(200px / 8 * 5);

    background-color: white;
    border-radius: 5px;
}

.position .field {
    position: relative;
}

.position .horizontal-line {
    position: absolute;

    top: calc(200px / 16 * 6.5);
    left: calc(200px / 8 * 1.5);

    /*left:0;*/
    /*right:0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/

}

.position .vertical-line {
    position: absolute;

    top: calc(200px / 8 * 1.5);
    left: calc(200px / 16 * 6.5);

    /*left:0;*/
    /*right:0;*/
    /*top: 0;*/
    /*bottom: 0;*/

    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
}

.transform .horizontal-line {
    transform: translate(calc(200px / 8 * 1.5), calc(200px / 16 * 6.5));
}

.transform .vertical-line {
    transform: translateX(calc(200px / 16 * 6.5));
}